root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.html]
max_line_length = 180
indent_size = 4

[*.{js,ts}]
indent_size = 4

[*.ttl]
indent_size = 4

[*.{json,jsonc}]
indent_size = 4

[*.jsonld]
indent_size = 2

[*.{xml,svg}]
indent_size = 4

[*.yml]
indent_size = 2

