@font-face {
  font-family: "StixTwoText";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/STIXTwoText-Regular.otf');
}

h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "StixTwoText";
}

p {
  position: absolute;
  top: 160px;
  left: 40px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "StixTwoText";
}

.pattern {
  background-color: white;
  background-image: linear-gradient(currentColor 1px, transparent 1px), linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 50px 50px;
}

.solid {
  background-color: red;
}
